$primary:#22c5b9;
$primary-9:rgba(34, 197, 185,.9);
$primary-8:rgba(34, 197, 185,.8);
$primary-7:rgba(34, 197, 185,.7);
$primary-6:rgba(34, 197, 185,.6);
$primary-5:rgba(34, 197, 185,.5);
$primary-4:rgba(34, 197, 185,.4);
$primary-3:rgba(34, 197, 185,.3);
$primary-2:rgba(34, 197, 185,.2);
$primary-1:rgba(34, 197, 185,.1);

$gray:#ebedf0;


$fs-normal:0.45rem;
$fs-small:0.32rem;
$fs-big:0.5rem;